<div class="container">
    

    <article class="container__article container__article__flex">

    <h2 class="container__article__flex__header" >Co to jest Angular?</h2>
    
    <div class="container__article__flex__holder">
    
    <p class="container__article__flex__holder__paragraph">Angular jest to otwarty framework, który został napisany w języku TypeScript i jest wspierany oraz rozwijany przez Google. 
    Angular początkowo miał być wersją 2 popularnego frameworku AngularJS, 
    jednak decyzje projektowe sprawiły, że Google zdecydował się wydać go jako osobny byt. 
    Angular wydany jest na licencji MIT.</p>    
    
    </div>
    </article>
   
    <article class="container__article container__article__grid">

    <h2 class="container__article__grid__header">Historia Angulara</h2>
    
    <div class="container__article__grid__holder">
    
    <h3 class="container__article__grid__holder__header">AngularJS</h3>

    <p class="container__article__grid__holder__paragraph">AngularJS został stworzony w 2009 roku przez Miško Hevery'ego i Adama Abronsa jako część własnego startupu. 
    Po zawieszeniu prac postanowiono, że Angular zostanie wydany jako otwarta biblioteka. 
    Abrons opuścił projekt, jednak Hevery, który obecnie pracuje w Google, 
    nadal zajmuje się rozwojem projektu, wraz z innymi pracownikami Google.</p>
    
    </div>

    <div class="container__article__grid__holder">
    
    <h3 class="container__article__grid__holder__header">Kontrowersje</h3>

    <p class="container__article__grid__holder__paragraph">Po raz pierwszy wersja 2.0 frameworka AngularJS została ogłoszona na konferencji ng-Europe w Paryżu we wrześniu 2014 roku. 
    Od początku wzbudzała kontrowersje, ze względu na brak kompatybilności wstecznej oraz ścieżki update'u. 
    Wersja „developer preview” pojawiła się 30 kwietnia 2015, wersja beta w grudniu 2015. 
    AngularJS 2.0 ostatecznie wyszedł we wrześniu 2016 pod nazwą Angular.</p>
    
    </div>
    
    <div class="container__article__grid__holder">

    <h3 class="container__article__grid__holder__header">Wydawanie</h3>

    <p class="container__article__grid__holder__paragraph">Od tej pory kolejne wersje miały być wydawane w 6-miesięcznych cyklach. 
    Angular 3 jednak nie pojawił się, a Angular 4 miał premierę marcu 2017, Angular 5 w listopadzie 2017, 
    Angular 6 w maju 2018, a Angular 7 w październiku 2018.</p>
    
    </div>
    
    <div class="container__article__grid__holder">

    <h3 class="container__article__grid__holder__header">Nowe Wersje</h3>

    <p class="container__article__grid__holder__paragraph">W maju 2019 pojawił się Angular 8 z nowym, testowym kompilatorem o nazwie kodowej IVY. 
    Angular 9 pojawił się w lutym 2020, Angular 10 w czerwcu 2020, Angular 11 w listopadzie 2020, Angular 12 w maju 2021, 
    po czym Angular 13 pojawił się w listopadzie tego samego roku. 
    Historia Angulara jest dosyć młoda w związku z czym ciężko znaleźć informacje o przeszłości tego frameworku.</p>
    
    </div>

    </article>
    
    <article class="container__article container__article__flex">
    <h2 class="container__article__flex__header container__article__flex__header--fix">Gdzie się używa Angulara?</h2>
    
    <div class="container__article__flex__holder container__article__flex__holder--fix">
 
    <p class="container__article__flex__holder__paragraph container__article__flex__holder__paragraph--fix">Angular jest używany do wytwarzania stron techniką SPA (Single Page Apllication).</p>
    
    </div>
    <figure class="container__article__flex__figure"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/640px-Angular_full_color_logo.svg.png">
    </figure>
    <h2 class="container__article__flex__header container__article__flex__header--fix">Firmy, które używają Angulara</h2>
    
    <div class="container__article__flex__listholder">
    
    <ul class="container__article__flex__listholder__list">
        <li *ngFor="let i of firmy_angular" class="container__article__flex__listholder__list__element">{{i}}</li>
    </ul>

    </div>

    </article>


    <div class="container__btnholder"><a href="#" class="container__btnholder__button container__btnholder__button__next">Nastepny</a> </div>

</div>
