@import 'src/assets/colors.scss';

.container
{
    color:$font-color;
    background-color: $bgc-color;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    &__article
    {
        flex-basis: 100%;

        &__flex
        {
            display:flex;
            flex-wrap: wrap;
        }
        &__grid
        {
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr; 
            gap: 1em 1em; 
            grid-template-areas: 
              "header header header header"
              "article1 article2 article3 article4"
              ; 

            &__header
            {
                grid-area: header;
                text-align: center;
            }
            &__paragraph:nth-of-type(1)
            {
                grid-area:article1;
            }
            &__paragraph:nth-of-type(2)
            {
                grid-area:article2;
            }
            &__paragraph:nth-of-type(3)
            {
                grid-area:article3;
            }
            &__paragraph:nth-of-type(4)
            {
                grid-area:article4;
            }
        }

    }

    &__btnholder
    {
        display:flex;

        &__button
        {
            text-decoration: none;
            padding: 20px 50px;
            font-size:1.25em;
            position: relative;
            margin:32px;

            &__next
            {
                overflow:hidden;
                color:$button-color;
                border-radius: 30px;
                box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                z-index:10;
                &::after
                {
                    content:"";
                    width:400px;
                    height:400px;
                    position: absolute;
                    top:-100px;
                    left:-100px;
                    background-color: #ff3cac;
                    background-image: linear-gradient(225deg, #27d76c 0%, #26caf8 50%, #c625d0 100%);
                    z-index: -1;
                    transition: transform 0.5s ease;
                }
                &:hover
                {
                    transform: translate(0,-6ox);
                    box-shadow: -10px 10px 25px 0 rgba(143, 64, 248, 0.5), -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
                }
            }
        }
    }
}
