<div class="container">
    <article class="container__article">
        <h2 class="container__article__header">Agile</h2>

        <div class="container__article__holder container__article__holder--first">
            <p class="container__article__holder__paragraph">
                Programowanie Zwinne to grupa metod wytwarzania oprogramowania opartego na programowaniu iteracyjno-przyrostowym. 
                Najważniejszym założeniem metodyk zwinnych jest obserwacja, ponieważ wymagania klienta często ewoluują podczas trwania projektu. 
                Oprogramowanie wytwarzane jest przy współpracy samozarządzalnych zespołów, których celem jest przeprowadzanie procesów wytwarzania oprogramowania.
            </p>
        </div>

    
    <div class="container__article___listholder">
        <span class="container__article__listholder__header">
            Zasady Programowania Zwinnego:
        </span>
        <ul class="container__article__listholder__list">
            <li class="container__article__listholder__list__element" *ngFor="let item of zasady">{{item}}</li>
        </ul>

    </div>
    
    
    <div class="container__article__imageholder">
        <img src="assets/images/metodyka_agile.png" alt="metodyka agile" class="container__article__imageholder__image">
    </div>

    <div class="container__article__holder container__article__holder--second">
        <p class="container__article__holder__paragraph">
            Częstym błędem występującym zespołów używających metodykę agile jest nadinterpretacja jej założeń i całkowicie błędne pomijanie bardzo ważnych etapów projektu.
        </p>
    </div>

</article>
</div>
