<div class="container">
    <article class="container__article">
        <h2 class="container__article__header">Kaskadowy</h2>

        <div class="container__article__holder">
            <p class="container__article__holder__paragraph">
                Model kaskadowy polega na wykonywaniu podstawowych czynności jako odrębnych faz projektowych, kolejno po sobie. 

            </p>
        </div>
    
    <div class="container__article___listholder">
        <span class="container__article__listholder__header">
            Każda czynność to schodek:
        </span>
        <ul class="container__article__listholder__list">
            <li *ngFor="let item of kroki" class="container__article__listholder__list__element">{{item}}</li>
        </ul>

    </div>
    
    <div class="container__article__holder">

    <p class="container__article__holder__paragraph">
        Jeśli któraś z faz zwróci niesatysfakcjonujący produkt cofamy się wykonując kolejne iteracje aż do momentu kiedy otrzymamy satysfakcjonujący produkt na końcu schodków.
    </p>
    
    </div>
    
</article>
</div>
