<div class="container">
    <article class="container__article">
        <h2 class="container__article__header">Programowanie Ekstremalne</h2>

        <div class="container__article__holder container__article__holder--first">
            <p class="container__article__holder__paragraph">
                Programowanie ekstremalne to metodyka programowania mająca na celu wydajne tworzenie małych i średnich „projektów wysokiego ryzyka”.

                Podstawą ekstremalnego programowania jest synergia wynikająca ze stosowania rozmaitych praktyk, które mają wiele zalet, lecz mogą być trudne w zastosowaniu. Łączne użycie tych praktyk ma zapewniać wyeliminowanie niedogodności każdej z nich.
            </p>
        </div>
    
    <div class="container__article___listholder">
        <span class="container__article__listholder__header">
            Wskazówki programowania ekstremalnego:
        </span>
        <ul class="container__article__listholder__list">
            <li class="container__article__listholder__list__element" *ngFor="let item of wskazowki">{{item}}</li>
        </ul>

    </div>
    
    <div class="container__article__imageholder">
        <img src="assets/images/metodyka_ekstremalna.png" alt="kaskadowy" class="container__article__imageholder__image">
    </div>

</article>
</div>
