<div class="container">

    <article class="container__article">
        <h2 class="container__article__header">
            Czym są metodyki wytwarzania oprogramowania?
        </h2>
        <div class="container__article__holder">
        <p class="container__article__holder__paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab minima, illo quidem officia totam nesciunt rerum assumenda aut doloribus quod magni accusamus, eos, unde consequatur architecto laudantium dolor ratione expedita.
        </p>
    </div>
    </article>

    <aside class="container__listholder">
        <ul class="container__listholder__list">
            <li class="container__listholder__list__element" *ngFor="let item of modele">
                <a class="container__listholder__list__element__href" [routerLink]="item">{{CapitalizeFirstLetter(item)}}</a>
            </li>
            <li class="container__listholder__list__element">
                <a class="container__listholder__list__element__href" routerLink="/">Wroc</a>
            </li>
        </ul>
    </aside>

    <div class="container__methodh">
        <router-outlet></router-outlet>
    </div>



</div>
