<div class="container">

    <header class="container__header"> <h2 class="container__header__title">Podsumowanie</h2> </header>

    <div class="container__listholder">
        <h2 class="container__listholder__header">
            Czego się nauczyłem:
        </h2>
        <ul class="container__listholder__list">
            <li class="container__listholder__list__element" *ngFor="let item of items"><span class="container__listholder__list__element__span">{{item}}</span></li>
        </ul>

    </div>

    <div class="container__btnholder container__btnholder">
        <a class="container__btnholder__button container__btnholder__button__next" routerLink="/przyklad">Wroc</a> 
    </div>

    <article class="container__article">
        <h2 class="container__article__title"> Dlaczego wybrałem it? </h2>


    <div class="container__article__holder">
        <p class="container__article__holder__paragraph">
            
Wybrałem it, ponieważ intersował mnie temat tego jak tworzone są gry, programy oraz strony internetowe.
Także programowanie jest pracą przyszłości, która w dodatku daje duże wynagrodzenie za zmagania z jakimi przyjdzie nam sie zmierzyć w tym zawodzie.
        </p>

        
    </div>

    <div class="container__article__holder">
        <p class="container__article__holder__paragraph">
            Programowanie to ciągłe uczenie się, a ja wręcz uwielbiam uczyć się czegoś nowego. Później jeszcze odkryłem, że rozwiązanie problemu, bądź napisanie
            jakieś aplikacji daje niesamowitą satysfakcje. Czujesz, że możesz wszystko. Wybrałem it, dlatego też bo lubie się otacząć ludźmi, którzy posiadają podobne zainteresowania. 
            

        </p>

    </div>
    </article>


</div>