<div class="container">
   
    <article class="container__article container__article__grid">

        <div class="container__article__grid__header">
            <h2 class="container__article__grid__header__title">Fazy</h2>
        </div>
    
    <div class="container__article__grid__holder">
    
        <h3 class="container__article__grid__holder__header">Research</h3>
    
        <p class="container__article__grid__holder__paragraph">Aby wiedzieć czego nasz klient życzy sobie musimy wykonać w stosunku do niego research, 
            który pozwoli nam określić jaka to jest firma, 
            czego potrzebuje, jakie ma opinie od innych użytkowników itd. 
            Takie ustalania pozwolą nam na sprecyzowanie tego czy opłaca nam się podejmować współpracę z daną firmą, 
            a jak już dojdzie do współpracy to wiemy jakiego typu oprogramowania możemy się spodziewać.</p>
        
        </div>

    <div class="container__article__grid__holder">

    <h3 class="container__article__grid__holder__header">Planowanie</h3>

    <p class="container__article__grid__holder__paragraph">Jest to kluczowy etap w projekcie. W tej fazie należy sobie odpowiedzieć po co 
        tworzymy to oprogramowanie i jak ono powstanie. Ustalany jest cel przedsięwzięcia. 
        Planowanie zawsze należy poprzedzić analizą biznesową i studium wykonalności. 
        Tutaj powinna być podjęta decyzja, czy oprogramowanie ma powstać.</p>
    
    </div>
    
    <div class="container__article__grid__holder">

    <h3 class="container__article__grid__holder__header">Analiza</h3>

    <p class="container__article__grid__holder__paragraph">Na tym etapie ustala się kto będzie używał systemu, 
        co system ma robić, oraz gdzie i kiedy będzie używany. Zbierane są wszelkie wymagania od klienta, 
        ustalanie priorytetów, określanie zadania dla każdego z pracowników i wybranie
        modelu tworzenia oprogramowania, którego będzie używała firma do stworzenia tego projektu. </p>
    
    </div>
    
    <div class="container__article__grid__holder">

    <h3 class="container__article__grid__holder__header">Projektowanie</h3>

    <p class="container__article__grid__holder__paragraph">To pierwsza decyzja o tym, jak system ma działać. 
        Tu powstaje koncepcja wewnętrznej logiki systemu, 
        jego architektura, interfejsy, komponenty.
        Wynikiem tego jest powstanie specyfikacji abstrakcyjnej, która dość dokładnie stanowi abstarkcje przyszłego oprogramowania. </p>
    
    </div>

    </article>

    <article class="container__article container__article__fx">
        <div class="container__article__fx__holder">

            <h3 class="container__article__fx__holder__header">Implementacja</h3>
        
            <p class="container__article__fx__holder__paragraph">To końcowa faza procesu tworzenia oprogramowania. 
                W ramach niej powstaje, w odniesienu do wcześniej ustalonych specyfikacji, działający software. 
                Klient powinien być na bieżąco informowany o postępach pracy nad projektem, 
                tak aby potem nie było żadnych niedomówień czy złej implementacji czegoś.</p>
            
        </div>

        <div class="container__article__fx__holder">

            <h3 class="container__article__fx__holder__header">Testowanie</h3>
        
            <p class="container__article__fx__holder__paragraph">Testowanie ma wykazać czy stworzone oprogramowanie spełnia wcześniej 
                przygotowane specyfikacje i wymagania klienta. Weryfikuje się tutaj napisany kod poszukując potencjalnych błędów.</p>
            
        </div>

        <div class="container__article__fx__holder">

            <h3 class="container__article__fx__holder__header">Zatwierdzanie oprogramowania</h3>
        
            <p class="container__article__fx__holder__paragraph">Gdy już wszystko funkcjonuje tak jak powinno 
                oddaje się produkt klientowi, tworząc aktualizacje w razie potrzeby.</p>
            
        </div>

    </article>


    <div class="container__btnholder">
        <a class="container__btnholder__button container__btnholder__button__next" routerLink="/przyklad">Przyklad</a> 
    </div>

    <div class="container__btnholder container__btnholder--fix">
        <a class="container__btnholder__button container__btnholder__button__next" routerLink="/">Wroc</a> 
    </div>

</div>
